<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            margin: 0;
        }
    </style>

    <!-- semantic ui -->
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../semantic/dist/semantic.min.js"></script>

    <!--<script src="//unpkg.com/force-graph"></script>-->
    <script src="../dist/force-graph.js"></script>
    <script src="../src/vue.js"></script>
    <script src="lodash.js"></script>
    <!-- <script src="drawControlCircle.js"></script> -->
</head>

<body>
    <div id="categoryButton" style="margin-left: 61px;position: absolute;z-index: 100;top: 107px;">
        <div>
            <a class="ui large label" @click='nodeButtonClick(item)' v-for='(item, index) in nodeCategoryArr'
                :style="{'background-color':item.show ? item.color+'!important' : '', 'border-color':item.show ? item.color+'!important' : '', color:'white!important'}">
                {{item.category}}
            </a>
        </div>

        <div style="margin-top: 3px;">
            <a class="ui basic label" style="pointer-events: none;"
                :style="{'border-color':item.show ? item.color+'!important' : '', color:item.show ? item.color+'!important' : '' }"
                v-for='(item, index) in linkTypeArr' @click='linkButtonClick(item)'> {{item.type}}</a>
        </div>
    </div>
    <div style="height:50px;margin-top: 101px;">
        <div id="expandSearch" style="margin-left: 54px;top: 58px;position: absolute;">
            <div class="ui left labeled button" tabindex="0" v-for='(item, index) in expandItems'>
                <a class="ui basic right pointing label">
                    <!-- {{keyword}} -->
                </a>
                <div class="ui animated fade button" @click='runExpandSearch(index)' id="nodeId">
                    <div class="visible content">{{item}}</div>
                    <div class="hidden content">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui search" :class='queryFinish ? "" : "loading"'
            style="position: absolute; top: 10px;left: 55px;width: 700px;" id="cypherQuery"
            v-on:keyup.enter='excuteQuery'>
            <div class="ui icon input" style="width:100%">
                <input class="prompt" type="text" placeholder="Cypher query..." v-model='cypher'
                    style="font-weight:bold; margin-right: 10px">
                <!-- <i class="search icon"></i> -->
                <button class="ui circular icon button" @click='excuteQuery' :class='classObject'>
                    <!-- <i class="icon" :class='queryFinish ? "search" : "sync"'></i> -->
                    <i class="search icon"></i>
                </button>
            </div>
        </div>

        <div id="graphDetail">
            <a class="ui teal right ribbon label" style="position: absolute;left: 1872px;z-index: 1000;top: 113px;">
                {{nodeCount}} nodes</a>

            <a class="ui orange right ribbon label" style="position: absolute;left: 1872px;z-index: 1000;top: 153px;">
                {{linkCount}} links</a>
        </div>
        <div id="graph" style="width:1800px; height:780px; margin-top: 5px;" class="ui card centered grid">

        </div>
        <div style="margin-left: 54.5px;line-height: 20pt;" id="hoverInfo" v-show='show'>

            <a style="display:inline" class="ui label" :class="{basic: isLink ? 'basic' : ''}"
                :style='styleObject'>{{type}}</a>
            <span>
                <a class="ui label"> ID <div class="detail" style="color:black">{{id}}</div>
                </a>
                <span>
                    <span v-for='(v, k) in properties'>
                        <span style="font-weight: bold"> {{k}}</span>: <span style="color:#797D7F">{{v}}</span>
                    </span>
                </span>
            </span>
        </div>
</body>
<script src="main.js"></script>
<script src="my.js"></script>