<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            margin: 0;
        }

        /* div{
			width: 500px;
			height: 500px;
			border: solid 1px blueviolet
		} */
    </style>

    <!-- semantic ui -->
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../semantic/dist/semantic.min.js"></script>

    <!--<script src="//unpkg.com/force-graph"></script>-->
    <script src="../dist/force-graph.js"></script>
    <script src="../src/vue.js"></script>
    <script src="lodash.js"></script>
    <!-- <script src="drawControlCircle.js"></script> -->
</head>

<body>
    <div style="width:1800px; height:50px; margin-left: 52.5; margin-top: 8px;" id="categoryButton">
        <div>
            <a class="ui large label" @click='nodeButtonClick(item)' v-for='(item, index) in nodeCategoryArr'
                :style="{'background-color':item.show ? item.color+'!important' : '', 'border-color':item.show ? item.color+'!important' : '', color:'white!important'}">
                {{item.category}}
            </a>
        </div>

        <div style="margin-top: 3px;">
            <a class="ui basic label"
                :style="{'border-color':item.show ? item.color+'!important' : '', color:item.show ? item.color+'!important' : '' }"
                v-for='(item, index) in linkTypeArr' @click='linkButtonClick(item)'> {{item.type}}</a>
        </div>
    </div>
    <div id="graph" style="width:1800px; height:800px;" class="ui card centered grid">

    </div>
</body>
<script src="main.js"></script>
<script src="my.js"></script>